@keyframes ldio-b4jz31a9kgo {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-b4jz31a9kgo div { box-sizing: border-box!important }
  .ldio-b4jz31a9kgo > div {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #3d7ec0 transparent #3d7ec0 transparent;
    animation: ldio-b4jz31a9kgo 4.545454545454545s linear infinite;
  }
  
  .ldio-b4jz31a9kgo > div:nth-child(2), .ldio-b4jz31a9kgo > div:nth-child(4) {
    width: 60px;
    height: 60px;
    top: 20px;
    left: 20px;
    animation: ldio-b4jz31a9kgo 4.545454545454545s linear infinite reverse;
  }
  .ldio-b4jz31a9kgo > div:nth-child(2) {
    border-color: transparent #cc4545 transparent #cc4545
  }
  .ldio-b4jz31a9kgo > div:nth-child(3) { border-color: transparent }
  .ldio-b4jz31a9kgo > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-b4jz31a9kgo > div:nth-child(3) div:before, .ldio-b4jz31a9kgo > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 29px;
    background: #3d7ec0;
    border-radius: 50%;
    box-shadow: 0 66px 0 0 #3d7ec0;
  }
  .ldio-b4jz31a9kgo > div:nth-child(3) div:after {
    left: -4px;
    top: 29px;
    box-shadow: 66px 0 0 0 #3d7ec0;
  }
  
  .ldio-b4jz31a9kgo > div:nth-child(4) { border-color: transparent; }
  .ldio-b4jz31a9kgo > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-b4jz31a9kgo > div:nth-child(4) div:before, .ldio-b4jz31a9kgo > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    top: -4px;
    left: 24px;
    background: #cc4545;
    border-radius: 50%;
    box-shadow: 0 56px 0 0 #cc4545;
  }
  .ldio-b4jz31a9kgo > div:nth-child(4) div:after {
    left: -4px;
    top: 24px;
    box-shadow: 56px 0 0 0 #cc4545;
  }
  .loadingio-spinner-double-ring-65paq9spers {
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: none;
    margin: 0 auto;
  }
  .ldio-b4jz31a9kgo {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.7);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-b4jz31a9kgo div { box-sizing: content-box; }